<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.1/dist/tailwind.min.css" rel="stylesheet"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

  <style>
    .nav-style {
      color: white;
      border-radius: 0.375rem;
      /* px-3 */
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      /* py-2 */
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .nav-style:hover, [aria-current="page"] {
      background-color: white;
      color: black;
    }
  </style>
</head>
<body>
  <nav class="bg-[#062639] text-sm font-semibold tracking-wider mb-10" style="font-family: 'Kodchasan', semibold,serif;">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 relative flex h-16 items-center justify-between">
      <!-- sm:hidden = ซ่อนส่วนของ Element เมื่อมีขนาดเล็ก -->
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-white
                                    hover:bg-white hover:text-black focus:outline-none focus:ring-2 focus:ring-inset
                                    focus:ring-white" id="hide-button" aria-expanded="false" aria-haspopup="true">
          <!-- icon hamburger -->
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <!-- ส่วนของ nav ต่างๆ -->
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <!-- logo -->
        <div class="flex flex-shrink-0 items-center">
          <a href="#"><img class="h-10 w-auto" src="../../Pictures/logo.png" alt="logo"></a>
        </div>
        <!-- menu -->
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-10">
            <a href="test1.php" class="nav-style" aria-current="false">Dashboard</a>
            <a href="../folder/test.php" class="nav-style" aria-current="false">คำสั่งซื้อ</a>
            <!-- dropdown สินค้า -->
            <div class="relative inline-block text-left">
              <div>
                <button type="button" class="nav-style" id="product-button" aria-expanded="false" aria-haspopup="true">
                  สินค้า <span class="ml-1">▾</span>
                </button>
              </div>
              <!-- list dropdown สินค้า -->
              <div class="absolute right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white py-1 shadow-lg
                    ring-1 ring-black ring-opacity-5 focus:outline-none text-sm hidden" role="menu"
                    aria-orientation="vertical" aria-labelledby="product-button" tabindex="-1" id="product-menu">
                <a href="#" class="block px-4 py-2 hover:bg-gray-200" role="menuitem" tabindex="-1" id="product-item-1">สินค้าทั้งหมด</a>
                <a href="#" class="block px-4 py-2 hover:bg-gray-200" role="menuitem" tabindex="-1" id="product-item-0">หมวดหมู่สินค้า</a>
                <a href="#" class="block px-4 py-2 hover:bg-gray-200" role="menuitem" tabindex="-1" id="product-item-1">เพิ่มสินค้าใหม่</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- menu left side -->
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <!-- notification -->
        <button type="button" class="relative rounded-full p-1 text-white hover:text-red-600 hover:bg-white">
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967
                                                                    0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312
                                                                    6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255
                                                                    0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
          </svg>
        </button>
        <!-- dropdown user -->
        <div class="relative ml-3">
          <div>
            <button type="button" class="relative flex" id="user-button" aria-expanded="false" aria-haspopup="true">
              <img class="h-8 w-8 rounded-full border border-transparent hover:border-red-600 hover:scale-110"
                    src="../../Pictures/user.png" alt="user-account">
            </button>
          </div>
          <!-- list dropdown user -->
          <div class="absolute right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white py-1 shadow-lg
                    ring-1 ring-black ring-opacity-5 focus:outline-none text-sm hidden" role="menu"
                    aria-orientation="vertical" aria-labelledby="user-button" tabindex="-1" id="user-menu">
            <a href="#" class="block px-4 py-2 hover:bg-gray-200" role="menuitem" tabindex="-1" id="user-item-0">บัญชีผู้ใช้งาน</a>
            <a href="#" class="block px-4 py-2 hover:bg-gray-200" role="menuitem" tabindex="-1" id="user-item-1">ออกจากระบบ</a>
          </div>
        </div>
      </div>

      <div class="text-sm font-semibold text-white sm:hidden tracking-wider hidden" aria-labelledby="hide-button" id="hide-menu"
          style="position: fixed; top: 4rem; left: 0; right: 0;">
        <div class="space-y-1 px-2 pb-3 pt-2 bg-[#062639]">
          <a href="test1.php" class="nav-style block" aria-current="false">Dashboard</a>
          <a href="#" class="nav-style block" aria-current="false">คำสั่งซื้อ</a>
          <a href="#" class="nav-style block" aria-current="false">สินค้าทั้งหมด</a>
          <a href="#" class="nav-style block" aria-current="false">หมวดหมู่สินค้า</a>
          <a href="#" class="nav-style block" aria-current="false">เพิ่มสินค้าใหม่</a>
        </div>
      </div>
    </div>
  </nav>

  <script>
    /* จะถูกทำทุกครั้งที่โหลดหน้่าใหม่ */
    window.onload = function() {
      /* ตรวจสอบ URL ปัจจุบัน */
      const currentPage = window.location.pathname;
      /* ดึงลิงค์ทั้งหมดที่มี class 'nav-style' */
      const links = document.getElementsByClassName('nav-style');
      // console.log(currentPage);
      /* วนลูปทุกลิงค์ */
      for (let i = 0; i < links.length; i++) {
        const link = links[i];
        let linkPath = link.getAttribute('href');
        linkPath = '/Regis-Login/' + linkPath;
        /* ถ้า URL ของลิงค์มี folder ตรงกับ URL folder เดียวกันปัจจุบัน */
        // console.log(linkPath);
        if (linkPath === currentPage) {
          /* ตั้งค่า aria-current เป็น 'page' */
          link.setAttribute('aria-current', 'page');
        } else {
          /* ตั้งค่า aria-current เป็น 'false' */
          link.setAttribute('aria-current', 'false');
        }
      }
    };

    /* จัดการ menu dropdown */
    document.getElementById('hide-button').addEventListener('click', function() {
      var menu = document.getElementById('hide-menu');
      /* ดึงค่าสถานะปัจจุบัน */
      var isExpanded = this.getAttribute('aria-expanded') === 'true';
      /* เปลี่ยนค่า aria-expanded เมื่อปุ่มถูกคลิก */
      this.setAttribute('aria-expanded', !isExpanded);
      /* แสดงเมนู dropdown ตามสถานะ aria-expanded */
      menu.style.display = isExpanded ? 'none' : 'block';
    });

    /* จัดการ menu product dropdown */
    document.getElementById('product-button').addEventListener('click', function() {
      var menu = document.getElementById('product-menu');
      /* ดึงค่าสถานะปัจจุบัน */
      var isExpanded = this.getAttribute('aria-expanded') === 'true';
      /* เปลี่ยนค่า aria-expanded เมื่อปุ่มถูกคลิก */
      this.setAttribute('aria-expanded', !isExpanded);
      /* แสดงเมนู dropdown ตามสถานะ aria-expanded */
      menu.style.display = isExpanded ? 'none' : 'block';
    });

    /* จัดการ menu user */
    document.getElementById('user-button').addEventListener('click', function() {
      var menu = document.getElementById('user-menu');
      /* ดึงค่าสถานะปัจจุบัน */
      var isExpanded = this.getAttribute('aria-expanded') === 'true';
      /* เปลี่ยนค่า aria-expanded เมื่อปุ่มถูกคลิก */
      this.setAttribute('aria-expanded', !isExpanded);
      /* แสดงเมนู dropdown ตามสถานะ aria-expanded */
      menu.style.display = isExpanded ? 'none' : 'block';
    });
  </script>
</body>
</html>